RewriteEngine On

# Przepisywanie dla usunięcia rozszerzenia .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1.php [L]

# Przekierowanie z URL z .php na wersję bez .php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.php\ HTTP/
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

# Przepisywanie dla ścieżek z katalogami
RewriteRule ^([^/]+)/([^/]+)/?$ $1/$2.php [L]

# RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]