:root {
    --primary-bg-color: #333;
    --primary-text-color: #fff;
    --secondary-bg-color: #b5b5b5;
    --secondary-text-color: #333;
    --link-color: #fff;
    --link-hover-color: #ddd;
}

/* Reset podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja całego dokumentu */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);

    display: flex;
    flex-direction: column;
}
html, body {
    height: 100vh;
}
a{
    text-decoration: none;
}
#app{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* wysokość na pełen ekran */
}
#content-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 4px;
    width: 100%;
    /* cursor: pointer; */
}
.btn:hover{
    box-shadow: 0 0 1px 1px black;
}
.box-w-200{
    display: flex;
    flex-direction: column;
    width: 200px;
}
input{
    width: 100%;
    outline-offset: 0px;
}
input:focus, button:focus {
    outline: none;
    border: none;
}
input, button {
    padding: 4px;
    border: none;
}
.sidebar{
    background-color: #989898;
    height: 100%;
}
.flex-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px 0px 10px;
}