:root {
    --primary-bg-color: #333;
    --primary-text-color: #fff;
    --secondary-bg-color: #b5b5b5;
    --secondary-text-color: #333;
    --link-color: #fff;
    --link-hover-color: #ddd;
}

/* Reset podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja całego dokumentu */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);

    display: flex;
    flex-direction: column;
}
html, body {
    height: 100vh;
}
#app{
    flex: 1; /* Sprawia, że #app zajmuje dostępne miejsce w pionie */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centruje zawartość pionowo */
    align-items: center; /* Centruje zawartość poziomo */
    text-align: center; /* Opcjonalnie, aby tekst był wyśrodkowany */
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    padding: 4px;
    border: 0px;
    width: 100%;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid black;
}
.box-w-200{
    display: flex;
    flex-direction: column;
    width: 200px;
}